<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span jhiTranslate="aiChallengeApp.appUser.home.title">App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="aiChallengeApp.appUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="aiChallengeApp.appUser.home.createLabel">Thêm mới một App User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (appUsers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="aiChallengeApp.appUser.home.notFound">No App Users found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.fullName">Full Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passwordHash">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.passwordHash">Password Hash</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="aiChallengeApp.appUser.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appUser of appUsers(); track trackId(appUser)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
              </td>
              <td>{{ appUser.fullName }}</td>
              <td>{{ appUser.email }}</td>
              <td>{{ appUser.passwordHash }}</td>
              <td [jhiTranslate]="'aiChallengeApp.Role.' + (appUser.role ?? 'null')">
                {{ { null: '', USER: 'USER', ADMIN: 'ADMIN' }[appUser.role ?? 'null'] }}
              </td>
              <td>{{ appUser.createdAt | formatMediumDatetime }}</td>
              <td>{{ appUser.updatedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/document']"
                    [queryParams]="{ 'filter[ownerId.in]': appUser.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('aiChallengeApp.appUser.documents' | translate) }"
                      >Show Documents</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/document-share']"
                    [queryParams]="{ 'filter[userId.in]': appUser.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('aiChallengeApp.appUser.shares' | translate) }"
                      >Show Shares</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/audit-log']"
                    [queryParams]="{ 'filter[userId.in]': appUser.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('aiChallengeApp.appUser.auditLogs' | translate) }"
                      >Show Audit Logs</span
                    >
                  </button>
                  <a [routerLink]="['/app-user', appUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (appUsers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
