<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-audit-log-heading" data-cy="AuditLogCreateUpdateHeading" jhiTranslate="aiChallengeApp.auditLog.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Audit Log
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="aiChallengeApp.auditLog.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let actionRef = editForm.get('action')!;
        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="aiChallengeApp.auditLog.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (actionRef.invalid && (actionRef.dirty || actionRef.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              @if (editForm.get('action')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Trường này không được vượt quá 255 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detail" jhiTranslate="aiChallengeApp.auditLog.detail">Detail</label>
          <textarea class="form-control" name="detail" id="field_detail" data-cy="detail" formControlName="detail"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="aiChallengeApp.auditLog.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="aiChallengeApp.auditLog.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareAppUser">
            @if (editForm.get(['user'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (appUserOption of appUsersSharedCollection; track $index) {
              <option [ngValue]="appUserOption">{{ appUserOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="aiChallengeApp.auditLog.document">Document</label>
          <select
            class="form-control"
            id="field_document"
            data-cy="document"
            name="document"
            formControlName="document"
            [compareWith]="compareDocument"
          >
            <option [ngValue]="null"></option>
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
